Libraries needs to have:
flask
pyodbc

STEP BY STEP ON HOW TO SETUP IT:

Install SQL Server: They must have SQL Server and the "ODBC Driver 18" installed.

Run SQL Script: They should open database_setup.sql in SSMS and execute it to create the tables.

Install Libraries: They should run pip install -r requirements.txt in their terminal.

Update Connection String: If their SQL Server instance name is different from localhost, they must update the Server= line in the get_db_connection() function in all .py files.

Run: Type python app.py to start the system.