USE [MMU_Library]
GO
/****** Object:  Table [dbo].[BorrowHistory]    Script Date: 31/12/2025 3:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BorrowHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BorrowHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[BookID] [int] NULL,
	[Action] [nvarchar](50) NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__BorrowHis__Times__37A5467C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BorrowHistory] ADD  DEFAULT (getdate()) FOR [Timestamp]
END
GO
